<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Welton
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title><ion-icon name="rainy-outline"></ion-icon>Previsão para 5 dias</ion-card-title>
      <ion-card-subtitle>Mais Detalhes</ion-card-subtitle>
    </ion-card-header>

    <div class="alinhamentoRows">
      <h3><ion-icon name="rainy-outline"></ion-icon>Hoje Chuva</h3>
      <p>30º/21º</p>
    </div>

    <div class="alinhamentoRows">

      <h3><ion-icon name="partly-sunny-outline"></ion-icon>Hoje Chuva</h3>
      <p>30º/21º</p>
    </div>

    <div class="alinhamentoRows">
      <h3><ion-icon name="partly-sunny-outline"></ion-icon>Hoje Chuva</h3>
      <p>30º/21º</p>
    </div>



    <ion-button expand="block" shape="round" class="alinhamentoBtn">Previsão para 5 dias</ion-button>

  </ion-card>

  <ion-card class="grafico">

  </ion-card>

  <ion-card class="alimentoGrid">
    <div class="velocidade-right-top">
      <h1>1</h1>
    </div>
    <div class="velocidade-left">
      <h1>2</h1>
    </div>
    <div class="velocidade-right-top">
      <h1>3

      </h1>
    </div>
  </ion-card>
</ion-content>
